body{
    background-color: #272727;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the items */
    list-style: none; /* Remove default list styles */
    padding: 0;
  }

.gallery {
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border:1px solid hsl(0,0,20%);
    
}

.imgElement{
    padding: 5px;
}

.imgElement:hover{
    
    animation-name:glow;
    animation-duration: 4s;
}

.titleElement{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    border:2px solid black;
    color: aqua;
}

.imgContainer:hover{
    animation-name:glow;
    animation-duration: 4s;
}

#image1{
    animation-name:slideRight;
    animation-duration: 1s; 
}


#image2{
    animation-name:slideDown;
    animation-duration: 1s; 
}


#image3{
    animation-name:slideUp;
    animation-duration: 1s; 
}

#image4{
    animation-name:slideLeft;
    animation-duration: 1s; 
}


@keyframes glow{
    50%{box-shadow:0px 0px 50px yellow;}
}

@keyframes slideLeft {
    from{transform:translateX(100%)}
}

@keyframes slideRight {
    from{transform:translateX(-100%)}
}

@keyframes slideUp {
    from{transform:translateY(100%)}
}

@keyframes slideDown {
    from{transform:translateY(-100%)}
}